src/main/resources/com/github/yanglikun/simple/config/custom-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="https://github.com/yanglikun/schema/custom">
    <xsd:element name="dateformat">
        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:NCName"/>
            <xsd:attribute name="pattern" use="required"/>
            <xsd:attribute name="lenient"  type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
